<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConnettoreRicett</title>
    <link rel="stylesheet" href="~/lib/bootstrap-italia-2.7.5/css/bootstrap-italia.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pass.css" asp-append-version="true" />
    <meta name="theme-color" content="#0066CC">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Ricetta" asp-action="FormRicetta">ConnettoreRicett</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Ricetta" asp-action="FormRicetta">Inserisci Ricetta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer mt-auto py-3 bg-light border-top">
        <div class="container">
            <span class="text-muted">&copy; 2024 - ConnettoreRicett</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-italia-2.7.5/js/bootstrap-italia.bundle.min.js"></script>
    <script src="~/lib/fontawesome-6.4.2/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>